In [77]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [78]:
books_df=pd.read_csv('Books.csv')

/var/folders/3t/5qtlv2451k3fkqv9ls22lmg00000gn/T/ipykernel_35357/2330454682.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df=pd.read_csv('Books.csv')

In [79]:
books_df.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [80]:
books_df.shape

(271360, 8)

In [81]:
books_df.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [82]:
books_df.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [83]:
df_books=books_df[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]

In [84]:
df_books.rename(columns={'Book-Title':'Book',
                         'Book-Author':"Author",
                         'Year-Of-Publication':"year",
                         'Image-URL-L':"url"
                         },inplace=True)

/var/folders/3t/5qtlv2451k3fkqv9ls22lmg00000gn/T/ipykernel_35357/1663060314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_books.rename(columns={'Book-Title':'Book',

In [85]:
df_books.head()

,ISBN,Book,Author,year,Publisher,url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [86]:
#User's Datasets
users=pd.read_csv('Users.csv')
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [87]:
users.shape

(278858, 3)

In [88]:
ratings=pd.read_csv('Ratings.csv')

In [89]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [90]:
ratings.shape

(1149780, 3)

In [91]:
ratings.rename(columns={"User-ID":"user_id",
                        "Book-Rating":"rating"},inplace=True)

In [92]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [93]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [94]:
ratings['user_id'].unique().shape

(105283,)

In [95]:
a=ratings['user_id'].value_counts()>100

In [96]:
a[a].shape

(1825,)

In [97]:
b=a[a].index

In [98]:
ratings=ratings[ratings['user_id'].isin(b)]

In [99]:
ratings.shape

(656605, 3)

In [100]:
books_with_ratings=ratings.merge(df_books, on='ISBN')

In [101]:
books_with_ratings.head()

,user_id,ISBN,rating,Book,Author,year,Publisher,url
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [102]:
rating_counts=books_with_ratings.groupby('Book')['rating'].count().reset_index()

In [103]:
rating_counts.head()

                                                Book  rating
0   A Light in the Storm: The Civil War Diary of ...       3
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [104]:
final_ratings=books_with_ratings.merge(rating_counts, on='Book')

In [105]:
final_ratings.head()

,user_id,ISBN,rating_x,Book,Author,year,Publisher,url,rating_y
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [106]:
final_ratings.shape

(604854, 9)

In [110]:
final_rating=final_ratings[final_ratings['rating_y']>50]

In [111]:
final_rating.shape

(98726, 9)

In [113]:
final_rating.sample(20)

,user_id,ISBN,rating_x,Book,Author,year,Publisher,url,rating_y
127603,240568,0452282829,0,We Were the Mulvaneys,Joyce Carol Oates,1996,Plume,http://images.amazon.com/images/P/0452282829.0...,146
3059,254465,006440188X,10,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,93
54336,182987,0446355453,0,Master of the Game,Sidney Sheldon,1988,Warner Books,http://images.amazon.com/images/P/0446355453.0...,65
106868,89602,0375726403,6,Empire Falls,Richard Russo,2002,Vintage Books USA,http://images.amazon.com/images/P/0375726403.0...,143
4041,11676,0312966091,8,Three To Get Deadly : A Stephanie Plum Novel (...,Janet Evanovich,1998,St. Martin's Paperbacks,http://images.amazon.com/images/P/0312966091.0...,137
6991,200226,0385424736,8,The Rainmaker,John Grisham,1995,Doubleday Books,http://images.amazon.com/images/P/0385424736.0...,244
190800,108405,0440237025,8,Journey,Danielle Steel,2001,Dell Publishing Company,http://images.amazon.com/images/P/0440237025.0...,93
55524,278418,0451160525,0,"The Gunslinger (The Dark Tower, Book 1)",Stephen King,1994,New American Library,http://images.amazon.com/images/P/0451160525.0...,119
45780,134247,0385492081,8,Into Thin Air : A Personal Account of the Mt. ...,JON KRAKAUER,1998,Anchor,http://images.amazon.com/images/P/0385492081.0...,166
181506,177690,0061099732,0,Outer Banks,Anne Rivers Siddons,1992,HarperTorch,http://images.amazon.com/images/P/0061099732.0...,51
115321,241204,0385319037,0,Animal Husbandry,Laura Zigman,2001,Delta,http://images.amazon.com/images/P/0385319037.0...,54
13388,163570,0451177096,10,Dolores Claiborne,Stephen King,2004,Signet Book,http://images.amazon.com/images/P/0451177096.0...,165
113316,50225,0345422392,0,Vittorio the Vampire: New Tales of the Vampires,Anne Rice,2001,Ballantine Books,http://images.amazon.com/images/P/0345422392.0...,64
103091,95932,0553582917,6,Intensity,DEAN KOONTZ,2000,Bantam,http://images.amazon.com/images/P/0553582917.0...,96
9304,87141,039914496X,0,Certain Prey,John Sandford,1999,Putnam Publishing Group,http://images.amazon.com/images/P/039914496X.0...,78
122455,217121,031231616X,0,I Capture the Castle,Dodie Smith,2003,St. Martin's Griffin,http://images.amazon.com/images/P/031231616X.0...,87
11128,180651,0440225701,0,The Street Lawyer,JOHN GRISHAM,1999,Dell,http://images.amazon.com/images/P/0440225701.0...,246
51119,127826,0440236673,0,The Brethren,John Grisham,2000,Island,http://images.amazon.com/images/P/0440236673.0...,230
159218,87746,0449910571,0,Ladder of Years,Anne Tyler,1996,Ballantine Books,http://images.amazon.com/images/P/0449910571.0...,93
72786,69684,0345413350,8,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,1997,Del Rey,http://images.amazon.com/images/P/0345413350.0...,167

In [120]:
print(final_rating.duplicated('user_id').sum())
print(final_rating.duplicated('Book').sum())

94496
95229

In [121]:
final_rating.drop_duplicates(['user_id','Book'],inplace=True)

/var/folders/3t/5qtlv2451k3fkqv9ls22lmg00000gn/T/ipykernel_35357/3223901068.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(['user_id','Book'],inplace=True)

In [122]:
final_rating.shape

(96289, 9)

In [123]:
final_rating.head()

,user_id,ISBN,rating_x,Book,Author,year,Publisher,url,rating_y
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [124]:
book_pivot=final_rating.pivot_table(columns='user_id',index='Book',values='rating_x')

In [125]:
book_pivot

user_id,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
Book,,,,,,,,,,,,,,,,,,,,,
1984,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
book_pivot.shape

(1060, 1793)

In [127]:
book_pivot.fillna(0, inplace=True)

In [128]:
book_pivot

user_id,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
Book,,,,,,,,,,,,,,,,,,,,,
1984,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [131]:
! pip install scipy

Collecting scipy
  Downloading scipy-1.10.1-cp38-cp38-macosx_12_0_arm64.whl.metadata (53 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.9/53.9 kB 501.2 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in ./bookvenv/lib/python3.8/site-packages (from scipy) (1.24.4)
Using cached scipy-1.10.1-cp38-cp38-macosx_12_0_arm64.whl (28.8 MB)
Installing collected packages: scipy
Successfully installed scipy-1.10.1

In [132]:
#we don't want to consider 0 values
from scipy.sparse import csr_matrix

In [133]:
book_non_sparse=csr_matrix(book_pivot)

In [134]:
book_non_sparse

<1060x1793 sparse matrix of type '<class 'numpy.float64'>'
	with 26439 stored elements in Compressed Sparse Row format>

In [136]:
! pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.3.2-cp38-cp38-macosx_12_0_arm64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in ./bookvenv/lib/python3.8/site-packages (from scikit-learn) (1.24.4)
Requirement already satisfied: scipy>=1.5.0 in ./bookvenv/lib/python3.8/site-packages (from scikit-learn) (1.10.1)
Collecting joblib>=1.1.1 (from scikit-learn)
  Using cached joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.3.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.3.2-cp38-cp38-macosx_12_0_arm64.whl (9.4 MB)
Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Downloading threadpoolctl-3.3.0-py3-none-any.whl (17 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 threadpoolctl-3.3.0

In [137]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [138]:
model.fit(book_non_sparse)

NearestNeighbors(algorithm='brute')

In [149]:
distance,suggestion=model.kneighbors(book_pivot.iloc[260,:].values.reshape(1,-1),n_neighbors=8)

In [150]:
distance

array([[ 0.        , 43.02324953, 44.42971978, 44.57577818, 44.754888  ,
        44.79955357, 44.85532298, 44.93328388]])

In [151]:
suggestion

array([[260, 362, 987, 321, 184, 542, 599, 303]])

In [152]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
       'I Is for Innocent',
       'Tom Clancy's Op-Center: Games of State (Tom Clancy's Op Center (Paperback))',
       'Ground Zero and Beyond', 'Critical Judgment', 'Personal Injuries',
       'Ruthless.Com (Tom Clancy's Power Plays (Paperback))',
       'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))'],
      dtype='object', name='Book')

In [ ]:
books_name=book_pivot.index